<div class="checkbox-item">
  <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
      </label>
      <span>{{item.title}}</span>
    <button data-id="{{item.id}}" class="btn-btn-default inline" type="button" id="update-button">Edit</button>
</div>
