<div id="goal-response-container" class="goal-response-container" data-id="{{item.id}}">
  <div id="goal-box" class="goal-box">
    <h3>{{item.title}}</h3>
  </div>
</div>



<!-- what partial does: adds a line for each book "I'm a partial that's included in every book iteration ". It's just a handlebars file that's being required by another handlebar file -->
<!-- if you call this partial partiale, then the partial.handlebar file should be called partiale.handlebar -->
