<section id="map-view" class="map-view">
  <div id="goal-message" class="goal-message">
    <h2>Next goal: <span id="next-goal"></span></h2>
  </div>

  <aside id="us-map" class="us-map">
    <!-- Start of map code -->
    <div class="vmap" id="vmap" style="width: 600px; height: 400px;"></div>
    <!-- End of map code -->
    <span id="map-tooltip" class="map-tooltip"></span>
    <h5>Click on a state to view or add new goals.</h5>
  </aside>


  <main id="goals" class="goals">
    <h2 id="my-goals-header" class="my-goals-header">My goals</h2>
    <div class="my-goals-row row">
      <div class="col-sm-4 goal-column" id="goal-column-0">
      </div>
      <div class="col-sm-4 goal-column" id="goal-column-1">
      </div>
      <div class="col-sm-4 goal-column" id="goal-column-2">
      </div>
    </div>


  </main>

</section>




<!-- what partial does: adds a line for each book "I'm a partial that's included in every book iteration ". It's just a handlebars file that's being required by another handlebar file -->
<!-- if you call this partial partiale, then the partial.handlebar file should be called partiale.handlebar -->
