<!-- Empty form to create new item -->
<form id="create-item" class="create-item" data-id="{{item}}">
  <fieldset>
    <input class="form-control" type="text" name="item[title]" placeholder="Goal">
    <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  name="item[due_date]" placeholder="Last time viewed">
    <!-- <input type="text" name="item[state]" placeholder="State"> -->
    <input class="form-control" type="text" name="item[location]" placeholder="Location">
    <input class="form-control" type="text" name="item[description]" placeholder="Description">
    <input class="form-control" type="text" name="item[category]" placeholder="Category">
    <input class="form-control" type="text" name="item[status]" placeholder="Status">
    <!-- <button data-id="{{item.id}}" class="glyphicon glyphicon-ok-circle" type="button" name="Add">Add</button> -->
    <input class="form-control" class="glyphicon glyphicon-ok-circle" data-id="{{item.id}}" type="submit" name="Submit" value="Create">
    <button data-id="{{item.id}}" type="button" name="Cancel">Cancel</button>
  </fieldset>
</form>
