$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Barrio|Londrina+Solid|Flamenco|Montserrat:700|Poiret+One|Raleway:400,500,700|Roboto:400,500');
@import 'reset';
@import 'typography';
@import 'map';

//////////////////////////////
// Global
//////////////////////////////

* {
  // border: 1px solid green;
}

body {
  padding: 40px;
}

.text-align-center {
  text-align: center;
}

.center {
  margin: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  background-color: #f0f0f0;
  height: auto;
}

.footer-message {
  color: #606060;
  padding: 5px 10px;
}

.glyphicon-heart {
  color: red;
}

.inline {
  display: inline;
}

.status-message {
  text-align: center;
}
