$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'reset';

//////////////////////////////
// Global
//////////////////////////////

.text-align-center {
  text-align: center;
}

.center {
  margin: auto;
}

footer {
  margin-top: 100px;
}

.inline {
  display: inline;
}

.status-message {
  text-align: center;
}

//////////////////////////////
// End Global
//////////////////////////////
